.hero{
    position: relative;
    height: 700px;
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity to your liking */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

@media(max-width: 500px){
    .hero{
        height: 500px;
    }
}